:root {
    --sp-0: 0.4vw;
    --sp-1: 1.2vw;
    --sp-2: 2vw;
    --sp-3: 3.2vw;
    --sp-4: 4vw;
    --sp-5: 8vw;
    --sp-6: 16vw;
    --tm-1: 120ms;
    --tm-2: 240ms;
    --tm-3: 480ms;
    --tm-4: 1000ms;
}


.spacer-1 {
  height: var(--sp-1);
}
.spacer-2 {
  height: var(--sp-2);
}
.spacer-3 {
  height: var(--sp-3);
}
.spacer-4 {
  height: var(--sp-4);
}
.spacer-5 {
  height: var(--sp-5);
}

#page {
    margin: var(--sp-2) var(--sp-6);
    display: grid;
    grid-template-columns: 5fr 9fr;
    grid-template-areas: 'profile-img header'
                         'contact statement'
                         'education experience'
                         'licences experience'
                         'references skills'
}

a {
  color: var(--accent);
}


.banner {
  padding: var(--sp-1);
  margin: var(--sp-1);
  border-radius: var(--sp-1);
  box-shadow: var(--ev-1);
  transition: all var(--tm-1) ease-in-out;
}

.banner:hover {
  box-shadow: var(--ev-2);
  transform: scale(1.01);
}

#profile-img {
    grid-area: profile-img;
    background-image: url("../images/profile.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: var(--sp-2);
  }
#header {
  grid-area: header;
}
#dark-mode {
  display: flex;
  justify-content: center;
  float: right;  
  }
#logo-type {
  text-align: center;
}
#contact {
  grid-area: contact;
}
#education {
  grid-area: education;
}
#licences {
  grid-area: licences;
}
#references {
  grid-area: references;
}
#statement {
  grid-area: statement;
}
#experience {
  grid-area: experience;
}
#skills {
  grid-area: skills;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: var(--sp-1);
  border-radius: var(--sp-1);
}
#mySkills {
    padding: var(--sp-1);
}
#tools {
    padding: var(--sp-1);
}

.theme-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 var(--sp-1);
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}
label {
  cursor: pointer;
  display: block;
  text-indent: -99999px;
  height: 1.5rem;
  width: 3rem;
  border: 0.20rem solid var(--accent);
  background-color: var(--background);
  border-radius: 2rem;
  position: relative;
}
label::after {
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  border-radius: 2rem;
  background-color: var(--accent);
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  transition: all var(--tm-1) ease;
}
input:checked + label::after {
  left: calc(100% - 1.3rem);
}



@media only screen and (max-width: 864px) {
  #page {
    margin: var(--sp-2) var(--sp-4);
    grid-template-columns: 1fr;
    grid-template-areas: 'header'
                        'profile-img'
                         'contact'
                         'statement'
                         'experience'
                         'skills'
                         'education'
                         'licences'
                         'references';
  }
  #profile-img {
    height: 24vh;
    min-height: 200px;
  }
  #skills {
    display: block;
  }
.banner {
  padding: var(--sp-5);
  margin: var(--sp-2);
}
#skills {
  padding: var(--sp-5);
  margin: var(--sp-2);
}
}

@media screen and (min-width: 865px) and (max-width: 1366px) {
  #page {
    margin: var(--sp-2) var(--sp-2);
  }
}
  


/* 
--bp-01: 360px;
--bp-1: 864px;
--bp-2: 1366px;
--bp-3: 1920px; 
*/